.tile {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 500px);
  grid-row-gap: .5em;
  grid-column-gap: 1em;

}

.inText {
  font-size: 40px;
  color: black;
}

.backer {
  background-color: #395690;
  box-shadow: inset 0 0 20px 5px black;
  /* inset, x-offset, y-offset, blur-radius, spread-radius, color */
}