.tile {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 300px);
  grid-row-gap: .5em;
  grid-column-gap: 1em;

}

.inText {
  font-size: 40px;
  color: black;
}